/* css styles */
/*-- scss:defaults --*/

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #170C3A !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #EE6A24 !default;
$light-orange:  #FB9E07 !default;
$yellow:  #F6D645 !default;
$green:   #118230 !default;
$teal:    #068194 !default;
$cyan:    #3093CF !default;

$primary:   $cyan!default;
$secondary: $white !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $orange !default;
$danger:    $red !default;
$light:     $gray-400 !default;
$dark:      $black !default;

// Links
$link-hover-color: $red !default;
$link-hover-decoration: underline !default;

// Footer
$footer-bg: $gray-900 !default;
$footer-fg: $gray-300 !default;

// Inline code
$code-bg: $gray-200 !default;
$code-color: $gray-900 !default;

// TOC
$toc-color: $orange !default;
$toc-font-size: 1em;

// Code copy
$btn-code-copy-color-active: $orange !default;


/*-- scss:rules --*/

.navbar {
    background: linear-gradient(135deg, #068194, #3093CF) !important;
    background-color: transparent !important;
    border: 0;      /* custom bg */
}

.navbar {
  --bs-navbar-color: #fff;
  --bs-navbar-hover-color: #fff;
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
}

 // Set navfooter size

.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 1em;
    //font-family: $footer-font-family;

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }


    // Set navfooter as a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}

/** MINE **/

/* Adjusting the navigation header */
.navbar, .navbar-nav {
    font-size: 20px; /* Smaller font size */
    padding: 1px 2px; /* Reducing padding for a tighter header */
}

#fixed-copyright {
    font-size: 0.85em;
    color: white;
    font-family: sans-serif;
    opacity: 0.8;
  }

  .nav-footer-left {
    display: flex;
    align-items: flex-end;
    min-height: 60px; /* adjust this if needed */
  }

